/*color*/
:root{
  --primario-presto:black;
  --contrasto-primario-presto:white;
  --motori:#C1292E;
  --immobili:#B0906C;
  --lavoro:#2C33B1;
  --sport:#ACC12F;
  --fotografia:#BA3365;
  --informatica: #FFED00;
  --abbigliamento:#F9ADA0;
  --musica:#186260;
  --animali:#2B9EB3;
  --market: #E99234;
}
/* navbar */
.navbar{
  transition: all 0.5s;
}
.navbar-scrolled{
  background-color: #000000;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

/* Card */

.productCard {
  position: relative;
  min-width:50px;
  height: auto;
  overflow: hidden;
  border-radius: 15px;
  margin: 0 auto;
  padding: 10px 10px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  transition: .5s;
}
.productCard:hover {
  transform:scale(1.1);
}

/* WELCOME-CARD */
.welcome-card_link {
  display: block;
  margin: 0 15px 30px;
  border-radius: 28px;
  padding: 10px 10px;
  background-color: #fefefe;
  overflow: hidden;
  position: relative;
}

.welcome-card_title:hover  {
  text-decoration: none;
  color: #ffffff;
}
.welcome-card_link:hover .welcome-card_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.welcome-card_title {
  text-decoration: none;
  color: #050505;
  min-height: 87px;
  margin: 0 0 25px;
  overflow: hidden;
  font-weight: bold;
  font-size: 30px;
  color: #000000;
  z-index: 2;
  position: relative;
}

.welcome-card_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.welcome-card_link:nth-child(2n) .welcome-card_bg {
  background-color: #3ecd5e;
}
.welcome-card_link:nth-child(3n) .welcome-card_bg {
  background-color: #e44002;
}
.welcome-card_link:nth-child(4n) .welcome-card_bg {
  background-color: #952aff;
}
.welcome-card_link:nth-child(5n) .welcome-card_bg {
  background-color: #cd3e94;
}
.welcome-card_link:nth-child(6n) .welcome-card_bg {
  background-color: #4c49ea;
}



@media only screen and (max-width: 979px) {
  .welcome-card_link {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .welcome-card_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  .welcome-card_link {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .welcome-card_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .welcome-card_link {
    padding: 22px 40px;
  }
}

/* Footer */
.nav-link{
  text-decoration: none;
}
.linkveloci{
  transition: transform ease-out 300ms;
}

.linkveloci:hover{
  transform: translateX(8px);
}
/*----  Card style  ----*/
#cards_landscape_wrap-2{
  text-align: center;
  background: #F7F7F7;
}
.cards_landscape_wrap-2 .container{
  padding-top: 80px; 
  padding-bottom: 100px;
}
.cards_landscape_wrap-2 a{
  text-decoration: none;
  outline: none;
}
.cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}
.cards_landscape_wrap-2 .card-flyer .image-box{
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  border-radius: 5px;
}
.cards_landscape_wrap-2 .card-flyer .image-box img{
  -webkit-transition:all .9s ease; 
  -moz-transition:all .9s ease; 
  -o-transition:all .9s ease;
  -ms-transition:all .9s ease; 
  width: 100%;
  height: 200px;
}
.cards_landscape_wrap-2 .card-flyer:hover .image-box img{
  opacity: 0.7;
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -ms-transform:scale(1.15);
  -o-transform:scale(1.15);
  transform:scale(1.15);
}
.cards_landscape_wrap-2 .card-flyer .text-box{
  text-align: center;
}
.cards_landscape_wrap-2 .card-flyer .text-box .text-container{
  padding: 30px 18px;
}
.cards_landscape_wrap-2 .card-flyer{
  background: #FFFFFF;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}
.cards_landscape_wrap-2 .card-flyer:hover{
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
.cards_landscape_wrap-2 .card-flyer .text-box p{
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px; 
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}
.cards_landscape_wrap-2 .card-flyer .text-box h6{
  margin-top: 0px;
  margin-bottom: 4px; 
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Black', sans-serif;
  letter-spacing: 1px;
  color: #070808;
}

/* header */
.header {
  height: 100vh;
  background-image: 
  linear-gradient(to right bottom, 
   rgba(196, 214, 219, 0.8),
   rgba(30, 108, 217, 0.8)),
   url('https://cdn.pixabay.com/photo/2019/03/20/12/38/business-4068346_960_720.png');
  
  background-size: cover;
  background-position: top;
  position: relative;
  
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.brand-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.brand { font-size: 20px; }

.text-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  
  backface-visibility: hidden;
  margin-bottom: 30px;
}

.heading-primary-main {
  display: block;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 5px;
}

.heading-primary-sub {
  display: block;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 7.4px;
}

.btnHeader:link,
.btnHeader:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
}

.btnHeader:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btnHeader:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btnHeader-white {
  background-color: #fff;
  color: #777;
  font-size: 14px;
}


* {
  font-family: 'Poppins', sans-serif;
}


/* ---------CARD By Elia----------- */

.wrapper-card {
  height: 300px;
}

.background-coloured-card {
  background-image: linear-gradient(var(--motori), red);
  border-radius: 15px;
  height: 90%;
  box-shadow: #626262 8px 8px 20px;
  width: 90%;
}

.content-main-card {
  background-color: var(--contrasto-primario-presto);
  height: 90%;
  width: 80%;
  bottom: 0px;
  right: 0px;
  box-shadow: #919191 5px 5px 10px;
  border-radius: 15px;
}

body{background:#f4f4f4}.ratings i{font-size: 16px;color: red}.strike-text{color: red;text-decoration: line-through}.product-image{width: 100%}.dot{height: 7px;width: 7px;margin-left: 6px;margin-right: 6px;margin-top: 3px;background-color: blue;border-radius: 50%;display: inline-block}.spec-1{color: #938787;font-size: 15px}h5{font-weight: 400}.para{font-size: 16px}


.wrapper-shadow {
  box-shadow: #c6c6c6 5px 5px 10px;
}


/* ------Carousel for Cards by Elia-------- */

.carousel-item img{
  border-radius: 15px;
}

.figure-container {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 5%;
}

.figure-container img {
  width: 100%;
  border-radius: 10px;
  height: 120px;
  border: solid var(--primario-presto) 1px;
  /* box-shadow: 5px 5px 10px; */
}
.category-card-button {
  width: 100%;
  height: 100%;
}

.category_name_card {
  position: absolute;
  color: var(--contrasto-primario-presto);
  left: 25%;
  top: 2.5%;
  font-size: x-large;
  transform: translateY(0px);
}

.background-coloured-card {
  transition: .5s;
}

.background-coloured-card:hover {
  transform: translateY(-20px);
  transition: .5s;
}

.background-coloured-card:hover .category_name_card {
  position: absolute;
  color: var(--contrasto-primario-presto);
  left: 25%;
  top: 2.5%;
  font-size: x-large;
  transform: translateY(20px);
  transition: .5s;
}

.Motori_background {
  background-image: linear-gradient(var(--motori), rgb(255, 71, 71));
}
.Immobili_background {
  background-image: linear-gradient(var(--immobili), rgb(212, 155, 62));
}
.Lavoro_background {
  background-image: linear-gradient(var(--lavoro), rgb(219, 109, 241));
}
.Sport_background {
  background-image: linear-gradient(var(--sport), rgb(209, 227, 121));
}
.Fotografia_background {
  background-image: linear-gradient(var(--fotografia), rgb(255, 142, 210));
}
.Informatica_background {
  background-image: linear-gradient(var(--informatica), rgb(253, 255, 135));
}
.Abbigliamento_background {
  background-image: linear-gradient(var(--abbigliamento), rgb(251, 191, 255));
}
.Musica_background {
  background-image: linear-gradient(var(--musica), rgb(93, 233, 163));
}
.Animali_background {
  background-image: linear-gradient(var(--animali), rgb(170, 229, 255));
}
.Market_background {
  background-image: linear-gradient(var(--market), rgb(250, 212, 136));
}


.Motori_background_card {
  border: solid var(--motori);
}
.Immobili_background_card {
  border: solid var(--immobili);
}
.Lavoro_background_card {
  border: solid var(--lavoro);
}
.Sport_background_card {
  border: solid var(--sport);
}
.Fotografia_background_card {
  border: solid var(--fotografia);
}
.Informatica_background_card {
  border: solid var(--informatica);
}
.Abbigliamento_background_card {
  border: solid var(--abbigliamento);
}
.Musica_background_card {
  border: solid var(--musica);
}
.Animali_background_card {
  border: solid var(--animali);
}
.Market_background_card {
  border: solid var(--market);
}

.Motori_background_card:hover {
  border: solid var(--motori);
}
.Immobili_background_card:hover {
  border: solid var(--immobili);
}
.Lavoro_background_card:hover {
  border: solid var(--lavoro);
}
.Sport_background_card:hover {
  border: solid var(--sport);
}
.Fotografia_background_card:hover {
  border: solid var(--fotografia);
}
.Informatica_background_card:hover {
  border: solid var(--informatica);
}
.Abbigliamento_background_card:hover {
  border: solid var(--abbigliamento);
}
.Musica_background_card:hover {
  border: solid var(--musica);
}
.Animali_background_card:hover {
  border: solid var(--animali);
}
.Market_background_card:hover {
  border: solid var(--market);
}

.Motori_background_card:hover {
  background-color: var(--motori);
}
.Immobili_background_card:hover {
  background-color: var(--immobili);
}
.Lavoro_background_card:hover {
  background-color: var(--lavoro);
}
.Sport_background_card:hover {
  background-color: var(--sport);
}
.Fotografia_background_card:hover {
  background-color: var(--fotografia);
}
.Informatica_background_card:hover {
  background-color: var(--informatica);
}
.Abbigliamento_background_card:hover {
  background-color: var(--abbigliamento);
}
.Musica_background_card:hover {
  background-color: var(--musica);
}
.Animali_background_card:hover {
  background-color: var(--animali);
}
.Market_background_card:hover {
  background-color: var(--market);
}

.btn-outline-primary:hover {
  color: var(--contrasto-primario-presto);
  /* background-color: var(--primario-presto); */
}

.btn-outline-primary {
  color: var(--primario-presto);
}

.product-image {
  max-height: 200px;
  object-fit: cover ;
}

.buttonRound {
  border-radius: 20px;
}








/* 
DETAILS CAROUSEL (SINGLE PRODUCT)
--------------------------------------- */
.carousel {
  position: relative;
}
.carousel-item img {
  object-fit: cover;
}
#carousel-thumbs {
  background: rgba(255,255,255,.3);
  bottom: 0;
  left: 0;
  padding: 0 50px;
  right: 0;
}

.test {
  background-color: #2B9EB3;
}

#carousel-thumbs img {
  border: 5px solid transparent;
  cursor: pointer;
}
#carousel-thumbs img:hover {
  border-color: rgba(255,255,255,.3);
}
#carousel-thumbs .selected img {
  border-color: #fff;
}
.carousel-control-prev,
.carousel-control-next {
  width: 50px;
}
@media all and (max-width: 767px) {
  .carousel-container #carousel-thumbs img {
    border-width: 3px;
  }
}
@media all and (min-width: 576px) {
  .carousel-container #carousel-thumbs {
    position: absolute;
  }
}
@media all and (max-width: 576px) {
  .carousel-container #carousel-thumbs {
    background: #ccccce;
  }
}
