/*color*/
:root{
  --primario-presto:black;
  --contrasto-primario-presto:white;
  --motori:#C1292E;
  --immobili:#B0906C;
  --lavoro:#2C33B1;
  --sport:#ACC12F;
  --fotografia:#BA3365;
  --informatica: #FFED00;
  --abbigliamento:#F9ADA0;
  --musica:#186260;
  --animali:#2B9EB3;
  --market: #E99234;
}
/* navbar */
.navbar{
  transition: all 0.5s;
}
.navbar-scrolled{
  background-color: #000000;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

/* Card */

.productCard {
  position: relative;
  min-width:50px;
  height: auto;
  overflow: hidden;
  border-radius: 15px;
  margin: 0 auto;
  padding: 10px 10px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  transition: .5s;
}
.productCard:hover {
  transform:scale(1.1);
}
/* Footer */
.nav-link{
  text-decoration: none;
}
.linkveloci{
  transition: transform ease-out 300ms;
}

.linkveloci:hover{
  transform: translateX(8px);
}
/*----  Card style  ----*/
#cards_landscape_wrap-2{
  text-align: center;
  background: #F7F7F7;
}
.cards_landscape_wrap-2 .container{
  padding-top: 80px; 
  padding-bottom: 100px;
}
.cards_landscape_wrap-2 a{
  text-decoration: none;
  outline: none;
}
.cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}
.cards_landscape_wrap-2 .card-flyer .image-box{
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  border-radius: 5px;
}
.cards_landscape_wrap-2 .card-flyer .image-box img{
  -webkit-transition:all .9s ease; 
  -moz-transition:all .9s ease; 
  -o-transition:all .9s ease;
  -ms-transition:all .9s ease; 
  width: 100%;
  height: 200px;
}
.cards_landscape_wrap-2 .card-flyer:hover .image-box img{
  opacity: 0.7;
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -ms-transform:scale(1.15);
  -o-transform:scale(1.15);
  transform:scale(1.15);
}
.cards_landscape_wrap-2 .card-flyer .text-box{
  text-align: center;
}
.cards_landscape_wrap-2 .card-flyer .text-box .text-container{
  padding: 30px 18px;
}
.cards_landscape_wrap-2 .card-flyer{
  background: #FFFFFF;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}
.cards_landscape_wrap-2 .card-flyer:hover{
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
.cards_landscape_wrap-2 .card-flyer .text-box p{
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px; 
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}
.cards_landscape_wrap-2 .card-flyer .text-box h6{
  margin-top: 0px;
  margin-bottom: 4px; 
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Black', sans-serif;
  letter-spacing: 1px;
  color: #070808;
}

/* header */
.header {
  height: 100vh;
  background-image: 
  linear-gradient(to right bottom, 
  rgba(196, 214, 219, 0.8),
  rgba(30, 108, 217, 0.8)),
  url('https://images.pexels.com/photos/213399/pexels-photo-213399.jpeg');
  
  background-size: cover;
  background-position: top;
  position: relative;
  
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.brand-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.brand { font-size: 20px; }

.text-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  
  backface-visibility: hidden;
  margin-bottom: 30px;
}

.heading-primary-main {
  display: block;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 5px;
}

.heading-primary-sub {
  display: block;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 7.4px;
}

.btnHeader:link,
.btnHeader:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
}

.btnHeader:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btnHeader:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btnHeader-white {
  background-color: #fff;
  color: #777;
  font-size: 14px;
}


/* 
DETAILS CAROUSEL (SINGLE PRODUCT)
--------------------------------------- */
.carousel {
  position: relative;
}
.carousel-item img {
  object-fit: cover;
}
#carousel-thumbs {
  background: rgba(255,255,255,.3);
  bottom: 0;
  left: 0;
  padding: 0 50px;
  right: 0;
}

.test {
  background-color: #2B9EB3;
}

#carousel-thumbs img {
  border: 5px solid transparent;
  cursor: pointer;
}
#carousel-thumbs img:hover {
  border-color: rgba(255,255,255,.3);
}
#carousel-thumbs .selected img {
  border-color: #fff;
}
.carousel-control-prev,
.carousel-control-next {
  width: 50px;
}
@media all and (max-width: 767px) {
  .carousel-container #carousel-thumbs img {
    border-width: 3px;
  }
}
@media all and (min-width: 576px) {
  .carousel-container #carousel-thumbs {
    position: absolute;
  }
}
@media all and (max-width: 576px) {
  .carousel-container #carousel-thumbs {
    background: #ccccce;
  }
}
